<section id="contact-container">
        <div class="contact__content">
          <h2>Vamos trabalhar juntos?</h2>
          <p>
            Estou sempre aberto a novos projetos e oportunidades. Entre em
            contato!
          </p>
          <div class="contact__methods">
            <a
              href="mailto:henrique12095@gmail.com.com"
              class="contact__method"
            >
              <img src="img/icons/mail.svg" alt="Email" />
              <span>henrique12095@gmail.com</span>
            </a>
            <a
              href="https://linkedin.com"
              target="_blank"
              rel="noreferrer noopener"
              class="contact__method"
            >
              <img src="img/icons/linkedin-icon.svg" alt="LinkedIn" />
              <span>LinkedIn</span>
            </a>
            <a
              href="https://github.com"
              target="_blank"
              rel="noreferrer noopener"
              class="contact__method"
            >
              <img src="img/icons/github-icon.svg" alt="GitHub" />
              <span>GitHub</span>
            </a>
          </div>
          <a
            class="button contact__button"
            target="_blank"
            rel="noreferrer noopener"
            href="mailto:henrique12095@gmail.com"
          >
            Enviar mensagem
          </a>
        </div>
      </section>