<footer>
      <p>&copy; 2025 Henrique Alves - Full Stack Developer</p>
      <p style="margin-top: 10px; font-size: 13px">
        Estudante de Desenvolvimento de Sistemas Multiplataforma - Fatec Zona
        Leste
      </p>
      <div class="footer__links">
        <a href="#home-container">Início</a>
        <a href="#about-me-container">Sobre</a>
        <a href="#skill-container">Habilidades</a>
        <a href="#portfolio-container">Portfólio</a>
        <a href="#contact-container">Contato</a>
      </div>
    </footer>