  <section id="home-container">
        <aside class="home__social">
          <ul>
            <li>
              <a href="#home-container" class="social__item" title="LinkedIn">
                <img src="img/icons/linkedin-icon.svg" alt="LinkedIn" />
              </a>
            </li>
            <li>
              <a href="#home-container" class="social__item" title="GitHub">
                <img src="img/icons/github-icon.svg" alt="GitHub" />
              </a>
            </li>
          </ul>
        </aside>
        <article class="home">
          <h1 class="home__title">Henrique Alves</h1>
          <h3 class="home__subtitle">Full Stack Developer</h3>
          <p class="home__description">
            Estudante de Desenvolvimento de Sistemas Multiplataforma na Fatec
            Zona Leste. Apaixonado por criar soluções tecnológicas elegantes e
            funcionais que fazem a diferença.
          </p>
          <a class="home__button button" href="#contact-container">
            Entre em contato
            <img src="img/icons/plane-icon.svg" alt="" />
          </a>
        </article>
        <img
          src="https://avatars.githubusercontent.com/u/99710222?v=4"
          alt="Henrique Alves"
        />
      </section>