<div class="modal__overlay modal--hidden" id="projectModalOverlay">
  <div class="modal" id="projectModal">
    <button class="modal__close-btn" id="modalCloseBtn">&times;</button>
    <div class="modal__content" id="modalContent"></div>
  </div>
</div>
