<article class="scroll-down">
  <a class="scroll-down__button" href="#about-me-container">
    <img
      class="scroll-down__button__icon"
      src="img/icons/mouse-icon.png"
      alt=""
    />
    <p>Desça para ver mais</p>
    <img
      class="scroll-down__button__icon arrow-down-icon"
      src="img/icons/arrow-down-icon.svg"
      alt=""
    />
  </a>
</article>
